/* =================================== */
/*  Font Family and Colors Styles
/* =================================== */

$primary-font	: 'Poppins', sans-serif;


$primary-color      : #ec8907;
$secondary-color    : #f51dac;

$title-color		: #222222;
$text-color			: #black;

$white				: #fff;
$offwhite			: #fafcff;
$black				: #222;

